.hotel {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      .title {
        font-size: 24px;
      }
      & > p {
        font-size: 12px;
        color: $grey;
      }
    }

    &-right {
      display: flex;
      gap: 20px;
    }
  }

  &-wrp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  &-item {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    border: $border;
    box-shadow: $shadow;
    justify-content: space-between;

    &-left {
      display: flex;
      gap: 20px;

      .img {
        img {
          width: 160px;
          height: 160px;
          object-fit: cover;
          border-radius: 6px;
        }
      }

      & > .info {
        & > .top {
          display: flex;
          gap: 10px;
          align-items: center;

          .rating {
            margin-top: 4px;
          }

          h4 {
            font-size: 20px;
            color: $dark;
          }
        }
        & > p {
          font-size: 12px;
          font-weight: 500;
          font-family: $jakarta;
          color: $grey;
        }

        .offers {
          display: inline-flex;
          align-items: center;
          gap: 20px;
          margin-top: 20px;

          &-item {
            padding-right: 20px;
            border-right: $border;
            display: flex;
            gap: 10px;
            align-items: center;

            img {
              width: 24px;
            }

            h5 {
              color: $dark;
              font-size: 14px;
              font-weight: 600;
              font-family: $jakarta;
            }

            p {
              font-size: 10px;
              font-family: $jakarta;
              font-weight: 500;
              color: $grey;
              padding-top: 5px;
            }

            &:last-child {
              border-right: none;
            }
          }

          &-btn {
            display: inline-flex;
            border: none;
            background-color: transparent;
            font-size: 18px;
            color: $text;
          }
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-top {
        display: flex;
        flex-direction: column;
        span {
          font-size: 12px;
          font-family: $jakarta;
          font-weight: 500;
          color: $grey;
        }
        strong {
          font-size: 20px;
          font-family: $jakarta;
          color: $dark;
        }
      }

      .btn {
        background-color: $white;
        color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }

  .tags {
    display: flex;
    gap: 20px;
    margin: 10px 0;

    & > li {
      border: $border;
      padding: 6px 12px;
      border-radius: 2rem;
      font-size: 12px;
      font-weight: 500;
      font-family: $jakarta;
      color: $grey;
    }
  }

  &-details {
    .edit-btn {
      a {
        color: $primary;
        border: $border;
        padding: 6px 12px;
        border-radius: 4px;
        opacity: 0.8;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }
      }
    }

    .description {
      & > h4 {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.08px;
        color: $dark;
        padding-bottom: 20px;
        font-family: $jakarta;
      }

      & > p {
        font-family: $jakarta;
        font-size: 14px;
        color: #1e1e1e;
        opacity: 0.7;
        line-height: 160%;
        white-space: pre-line;
      }

      & > button {
        margin-top: 20px;
        border: none;
        background-color: transparent;
        color: $primary;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .basic {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .booking-box {
        padding: 0;
      }
    }
    &-wrp {
      display: grid;
      grid-template-columns: auto auto;
      gap: 30px;
    }

    &-top {
      padding: 32px;
      padding-bottom: 20px;
      border-bottom: $border;
      .images {
        display: flex;
        gap: 20px;
        .primary {
          width: 200%;

          img {
            height: 100%;
          }
        }

        .secondary {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;
        }

        img {
          width: 100%;
          border-radius: 8px;
          object-fit: cover;
        }
      }

      & > .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;

        & > .left {
          display: flex;
          align-items: center;
          gap: 10px;

          .title {
            font-size: 30px;
          }

          .rating {
            margin-top: 10px;
          }
        }
      }
    }

    &-des {
      padding: 32px;
      padding-top: 20px;
    }

    &-service {
      &-top {
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $dark;
        border-bottom: $border;
      }

      &-body {
        &-items {
          padding: 20px 32px 0;
          display: grid;
          grid-template-columns: auto auto;
          align-items: center;
          justify-content: start;
          column-gap: 40px;
          row-gap: 15px;

          & > li {
            display: flex;
            gap: 5px;
            align-items: center;
            color: $dark;
          }
        }
      }
    }

    &-location {
      padding: 32px !important;

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-offers {
      width: 400px;

      &.booking-box {
        padding: 22px;
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .title {
          font-size: 30px;
        }

        & > .add-new {
          display: flex;
          border: none;
          background-color: transparent;
          font-size: 28px;
          color: $primary;
        }
      }

      .search-form {
        width: 100%;
        margin-bottom: 20px;

        button {
          display: none;
        }
      }

      .offer-item {
        border: $border;
        border-radius: 4px;

        &-top {
          background-color: rgba($color: #d9d9d9, $alpha: 0.34);
          padding: 13px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-left {
            display: flex;
            gap: 10px;
            color: $dark;

            & > .content {
              & > h4 {
                font-size: 16px;
                font-weight: 700;
                font-family: $jakarta;
                letter-spacing: -0.08px;
              }

              & > span {
                font-size: 10px;
                font-family: $jakarta;
                font-weight: 500;
                color: $grey;
              }
            }
          }

          & > .toggle {
            & > button {
              border: none;
              font-size: 18px;
            }
          }
        }

        &-body {
          .description {
            padding: 10px;
            & > p {
              white-space: unset;
            }
          }

          .conditions {
            margin: 0 10px;
            border-top: $border;
            padding: 10px 0;

            &-wrp {
              display: flex;
              gap: 10px;
              padding-top: 10px;

              li {
                font-size: 12px;
                color: $grey;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
