.transport {
  &-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > .item {
      border: $border;
      border-radius: 8px;

      .item-top {
        padding: 10px;
        display: flex;
        justify-content: space-between;

        &.bg-grey {
          background-color: rgba($color: $grey, $alpha: 0.1);
        }

        .content {
          display: flex;
          flex-direction: column;
          padding-left: 20px;

          strong {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            position: relative;
            color: $dark;

            &::after {
              content: "";
              width: 8px;
              height: 8px;
              background-color: $primary;
              position: absolute;
              top: 50%;
              left: -15px;
              transform: translateY(-50%);
              border-radius: 2px;
            }
          }

          span {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            color: $grey;
          }
        }

        & > a {
          border: $border;
          color: $primary;
          padding: 8px 16px;
          border-radius: 4px;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          opacity: 0.8;
          transition: 0.3s;
          display: flex;
          align-items: center;
          gap: 5px;

          svg {
            font-size: 18px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .item-bottom {
        background-color: rgba($color: $grey, $alpha: 0.1);
        padding: 10px;
        display: flex;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $grey;
          font-weight: 500;
          font-size: 14px;
        }
      }

      .item-body {
        transition: 0.5s;
        transform-origin: top;
        transform: scaleY(0);
        height: 0;

        &.show {
          transform: scaleY(1);
          height: auto;
        }

        &-item {
          border-bottom: $border;
          padding: 15px 22px;
          display: flex;
          align-items: center;
          gap: 20px;

          &-inner {
            display: flex;
            align-items: center;
            min-width: 250px;
            gap: 10px;

            .icon {
              border-radius: 50%;
              border: $border;
              border-width: 0.5px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              color: $grey;
              font-size: 22px;
            }

            .content {
              display: flex;
              flex-direction: column;

              & > span {
                color: $grey;
                font-weight: 500;
                font-size: 12px;
              }

              & > strong {
                font-size: 16px;
                font-weight: 600;
                color: $dark;
              }
            }
          }

          &.catagory {
            border-bottom: none;
            display: block;
          }

          &-pricing {
            display: flex;
            gap: 34px;
            margin-top: 10px;

            .item {
              padding-left: 26px;
              position: relative;

              &::after {
                content: "";
                width: 7px;
                height: 38px;
                border-radius: 12px;
                background-color: #ca8d54;
                position: absolute;
                top: 5px;
                left: 0;
              }

              &.disc {
                &::after {
                  background-color: $primary;
                }
              }

              & > strong {
                span {
                  color: $grey;
                  font-weight: 500;
                }
              }

              & > h4 {
                font-size: 20px;
                font-weight: 700;
                padding: 3px 0;
              }

              & > span {
                font-size: 12px;
                font-weight: 600;
                color: $grey;

                &.dis {
                  color: $green;
                }
              }
            }
          }
        }
      }
    }
  }

  &-days {
    margin: 20px 0;

    strong {
      font-size: 14px;
      font-family: $jakarta;
      font-weight: 500;
      padding-right: 20px;
    }

    .top {
      padding-bottom: 10px;

      & > button {
        color: $primary;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        border: none;
        background-color: transparent;
        transition: 0.3s;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & > .days {
      display: flex;
      gap: 7px;

      li {
        & > button {
          padding: 12px 14px;
          border: $border;
          color: $dark;
          background-color: transparent;
          border-radius: 2rem;
          transition: 0.3s;
          font-size: 14px;
          font-weight: 500;
        }

        &.active,
        &:hover {
          & > button {
            border-color: $primary;
            background-color: rgba($color: $primary, $alpha: 0.1);
            color: $primary;
          }
        }
      }
    }
  }

  &-catagory {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item {
      display: flex;
      gap: 14px;
      align-items: center;

      .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .select,
        input {
          height: 48px !important;
        }

        &.full {
          width: 200%;
        }

        &-inner {
          display: flex;

          .select {
            width: 60px;
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            .active {
              padding-right: 0;
            }
          }

          input {
            text-align: right;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:focus {
              outline: none;
            }
          }
        }
      }

      & > button {
        background-color: rgba(132, 129, 138, 0.2);
        border: none;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        height: 32px;
        border-radius: 50%;
        width: 19%;
      }
    }

    & > .add-btn {
      color: $primary;
      font-size: 16px;
      font-weight: 500;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 5px;
      border: none;
      transition: 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.add-transport {
  .add-hotel-inner {
    width: 814px;
    height: 98vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    h4 {
      font-size: 16px;
      margin: 8px 0 0;

      &.s-title {
        font-size: 20px;
        margin: 0px 0 0;
      }
    }
    form {
      display: flex;
      gap: 18px;

      & > .item-1 {
        width: 100%;
      }
    }
  }

  .gap {
    padding-top: 20px;
  }

  &-group {
    display: flex;
    gap: 18px;
    margin: 10px 0;

    .form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}
