.transport {
  &-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > .item {
      border: $border;
      border-radius: 8px;

      .item-top {
        padding: 10px;
        display: flex;
        justify-content: space-between;

        &.bg-grey {
          background-color: rgba($color: $grey, $alpha: 0.1);
        }

        .content {
          display: flex;
          flex-direction: column;
          padding-left: 20px;

          strong {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            position: relative;
            color: $dark;

            &::after {
              content: "";
              width: 8px;
              height: 8px;
              background-color: $primary;
              position: absolute;
              top: 50%;
              left: -15px;
              transform: translateY(-50%);
              border-radius: 2px;
            }
          }

          span {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            color: $grey;
          }
        }

        & > a {
          border: $border;
          color: $primary;
          padding: 8px 16px;
          border-radius: 4px;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          opacity: 0.8;
          transition: 0.3s;
          display: flex;
          align-items: center;
          gap: 5px;

          svg {
            font-size: 18px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .item-bottom {
        background-color: rgba($color: $grey, $alpha: 0.1);
        padding: 10px;
        display: flex;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $grey;
          font-weight: 500;
          font-size: 14px;
        }
      }

      .item-body {
        transition: 0.5s;
        transform-origin: top;
        transform: scaleY(0);
        height: 0;

        &.show {
          transform: scaleY(1);
          height: auto;
        }

        &-item {
          border-bottom: $border;
          padding: 15px 22px;
          display: flex;
          align-items: center;
          gap: 20px;

          &-inner {
            display: flex;
            align-items: center;
            min-width: 250px;
            gap: 10px;

            .icon {
              border-radius: 50%;
              border: $border;
              border-width: 0.5px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              color: $grey;
              font-size: 22px;
            }

            .content {
              display: flex;
              flex-direction: column;

              & > span {
                color: $grey;
                font-weight: 500;
                font-size: 12px;
              }

              & > strong {
                font-size: 16px;
                font-weight: 600;
                color: $dark;
              }
            }
          }

          &.catagory {
            border-bottom: none;
            display: block;
          }

          &-pricing {
            display: flex;
            gap: 34px;
            margin-top: 10px;

            .item {
              padding-left: 26px;
              position: relative;

              &::after {
                content: "";
                width: 7px;
                height: 38px;
                border-radius: 12px;
                background-color: #ca8d54;
                position: absolute;
                top: 5px;
                left: 0;
              }

              &.disc {
                &::after {
                  background-color: $primary;
                }
              }

              & > strong {
                span {
                  color: $grey;
                  font-weight: 500;
                }
              }

              & > h4 {
                font-size: 20px;
                font-weight: 700;
                padding: 3px 0;
              }

              & > span {
                font-size: 12px;
                font-weight: 600;
                color: $grey;

                &.dis {
                  color: $green;
                }
              }
            }
          }
        }
      }
    }
  }
}
